html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #333;
  color: #fff;
}

a {
  color: inherit;
}

a:hover {
  color: #a75ae6;
}

img, video {
  width: 270px;
  padding: 3px;
}
